apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: hotpod
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: hotpod
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
